body {
    margin: 0;
    background: #A48D7C;
}

.jumborton {
    width: 100%;
    top: 0;
}

.name {
    font-size: large;
    text-align: center;
    line-height: 0.5;
}

hr {
    border: none;
    background-color: #4C6563;
    color: red;
    height: 2px;
    width: 100%;
}

.hrN {
    height: 5px;
}

.jumborton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*margin: 4px 100px 10px 15px;*/
}

.leftside {
    margin-right: 20px;
    background: #dbb293;
}

.contact {
    margin-left: 15px;
    /*line-height: 0;*/
}

h3 {
    text-align: center;
}
.address, .phone, .email, .linkedin, .github {
    display: flex;
    flex-direction: row;
    justify-content: left;
    /*align-items: center;*/
}

a {
    text-decoration: none;
    color: black;
}

.address img, .phone img, .email img, .linkedin img, .github img {
    margin-right: 12px;
}

.skills ul, .languages ul, .certificates ul {
    list-style-type: circle;
    line-height: 1.5;
}

.rightside {
    margin-left: 20px;
}

.summary, .reference {
    line-height: 1.5;
}

.myPhoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 575px) {
    .myPhoto {
        display: none;
    }
}

.hidden-text {
    display: none;
}