body {
    background-image: url("images/sea.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

.jumborton {
    padding-top: 72px;
}

p {
    text-align: center;
    font-size: 40px;
}

p.however {
    font-weight: bold;
}

.progress {
    background-color: #1a1a1a;
    height: 25px;
    padding: 5px;
    width: 350px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}

.progress span {
    display: inline-block;
    height: 25px;
    width: 200px;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    transition: width .4s ease-in-out;
    animation: result 4s ease-out infinite;
}

@keyframes result {
    0% {opacity: 0; width: 0;}
    50% {opacity: .5;}
    100% {opacity: 0; width: 95%;}
}

.blue span {
    background-color: lightskyblue;
}

.shine span {
    position: relative;
}

.social {
    margin-top: 55px;
    text-align: center;
}

a {
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
}
