body {
    margin: 0;
}

.myPhoto {
    border-radius: 150px;
    float: right;
    margin-top: 200px;
    margin-right: 100px;
}

.head {
    height: 350px;
    background-image: url("images/background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

@keyframes forArrow {
    to {height: 60px; width: 60px;}
    /*to {margin-left: 40px;}*/
}
.arrow {
    margin-top: 20px;
    margin-left: 20px;
    height: 50px;
    width: 50px;
    animation-name: forArrow;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.down {
    height: 350px;
}

blockquote {
    height: 200px;
    width: 400px;
    /*background: lightgray;*/
    /*margin-left: 20%;*/
    float: right;
    margin-top: 40px;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    border-left: 4px solid saddlebrown;
    line-height: 1.5;
}

/*blockquote:before {*/
/*    content: open-quote;*/
/*    color: red;*/
/*    margin-top: 0;*/
/*    margin-bottom: 0;*/
/*    font-size: 50px;*/
/*    padding-bottom: 0;*/

/**/

