body {
    margin: 0;
    background-image: url("images/background.jpg");
    /*background: burlywood;*/
    background-repeat: no-repeat;
    background-size: cover;
}

.jumborton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 620px;
}

.photo {
    margin-right: 50px;
    height: 100%;
    bottom: 0;
}

blockquote {
    margin-left: 100px;
    margin-top: 100px;
    background: lightblue;
    border-radius: 60px;
    width: 300px;
    height: 150px;
}

blockquote p {
    text-align: center;
    margin: 10px;
    /*padding-top: -20px;*/
    /*padding: 10px;*/
    font-size: 25px;
    font-style: italic;
}

blockquote:before {
    color: steelblue;
    content: open-quote;
    font-size: 30px;
    margin-right: 15px;
    margin-top: 15px;
}

.arrow {
    text-align: center;
}

/*@keyframes photos {*/
/*    from {background-image: url("images/IMG_0592.JPG"); height: 600px; width: 400px;}*/
/*    to {background-image: url("images/IMG_0592-1.jpg");height: 400px; width: 300px;}*/

/*}*/
.photo {
    margin-top: 20px;
    /*height: 600px;*/
    /*width: 400px;*/
    /*background-image: url("images/IMG_0592.JPG");*/
    /*background-size: cover;*/
    /*animation-name: photos;*/
    /*animation-duration: 8s;*/
    /*animation-direction: reverse;*/
    /*box-shadow: 0 0 5px 10px #555;*/
}