body {
    padding-top: 72px;
    margin: 0;
    background: aquamarine;
}

.header, .jumborton {
    width: 100%;
    top: 0;
}

.header {
    position: fixed;
    height: 72px;
    background: lightslategray;
    width: 100%;
    z-index: 10222;
    box-shadow: 0 8px 16px -6px rgba(38, 38, 38, 0.16);
    display: block;
}

.header {
    font-size: large;
    text-align: center;
    line-height: 0.5;
}

.jumborton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*margin: 4px 100px 10px 15px;*/
}

.leftside {
    margin-right: 20px;
    background: cadetblue;
}

.contact {
    margin-left: 15px;
    /*line-height: 0;*/
}



.rightside {
    margin-left: 20px;
}